@model LuftballonAt.Web.Areas.User.Pages.Shop.Products.IndexModel


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card h-100 product-card">
                <img src="@product.ImageUrl" class="card-image card-img-top img-fluid" style="object-fit: cover;" alt="@product.Name">
                <div class="card-body d-flex flex-column">
                    <h6 class="card-title">@product.Name</h6>
                    <div class="card-footer">
                        <p class="card-text"><span class="text-muted">@product.CategoryName</span></p>
                        <div class="row align-items-center">
                            <div class="col-7">
                                @for (int i = 0; i < 5; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                            </div>
                            <div class="col-5 text-end">
                                <p class="card-price mb-0">@product.Price.ToString("C")</p>
                                <small class="text-muted">inkl. MwSt.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <div class="button-container">
                            <a href="#" class="btn btn-outline-primary btn-sm">In den Warenkorb</a>
                            <a href="#" class="btn btn-outline-primary btn-sm">Anzeigen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
