@model IEnumerable<LuftballonAt.Models.Dtos.ProductDtos.SimilarProductsDto>

@if (Model.Any())
{
    <div class="container mt-4">
        <h5>Ähnliche Produkte</h5>
        <div class="row">
            @foreach (var product in Model.Take(4))
            {
                <div class="col-lg-3 col-12 mb-4">
                    <div class="card product-card h-100">
                        <img src="@product.ImageUrl" class="card-img-top img-fluid card-image" alt="Bild von @product.Name">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text card-price">@product.Price €</p>
                            <div class="button-container">
                                <button type="button" data-product-id="@product.Id" data-quantity="1" class="btn btn-primary w-25 d-flex justify-content-center align-items-center add-to-cart">
                                    <i class="bi bi-cart-plus-fill"></i>
                                </button>
                                <a asp-page="/Shop/Products/Details" asp-route-id="@product.Id" class="btn btn-outline-primary w-100 ">Anzeigen</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Keine ähnlichen Produkte gefunden.</p>
}
