@page
@model LuftballonAt.Web.Areas.User.Pages.Shop.Cart.SummaryModel

@{
    ViewData["Title"] = "Warenkorb Zusammenfassung";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container mt-5">
    <h2 class="mb-4">Warenkorb Zusammenfassung</h2>
    @if (Model.ShoppingCartItems.Any())
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produktbild</th>
                        <th>Produkt</th>
                        <th>Preis pro Einheit</th>
                        <th>Menge</th>
                        <th>Gesamtpreis</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ShoppingCartItems)
                    {
                        <tr>
                            <td data-label="Produktbild">
                                <a asp-page="/Shop/Products/Details" asp-route-id="@item.Id">
                                    <img src="@item.ProductImageUrl" class="img-fluid" alt="Bild von @item.ProductName" style="max-width: 100px;">
                                </a>
                            </td>
                            <td data-label="Produkt"><a asp-page="/Shop/Products/Details" asp-route-id="@item.Id">@item.ProductName</a></td>
                            <td data-label="Preis pro Einheit">@item.PricePerUnit.ToString("C")</td>
                            <td data-label="Menge"><input type="number" class="form-control quantity" value="@item.Quantity" style="width: 80px; display: inline-block;"></td>
                            <td data-label="Gesamtpreis">@item.TotalPrice.ToString("C")</td>
                            <td data-label="Aktion">
                                <div class="input-group">
                                    <input type="number" class="form-control remove-quantity" value="1" min="1" max="@item.Quantity">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger remove-item" data-cart-item-id="@item.Id" title="Produkt entfernen"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="summary-actions d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-danger clear-cart">Warenkorb leeren</button>
                </div>
                <div class="d-flex align-items-center">
                    <h4 class="mb-0 mr-3 p-2">Total: @Model.ShoppingCartItems.Sum(item => item.TotalPrice).ToString("C")</h4>
                    <button class="btn btn-success">Zur Kasse</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Ihr Warenkorb ist leer.</p>
    }
</div>
